.registerTitle {
  padding: 10px;
  color: orange;
  margin: 0;
}

.inputSection {
  padding: 20px;
  border-color: orange;
  border-style: solid;
  border-width: 1px;
}

.BTNRegister {
  background-color: orange;
  color: white;
  margin: 10px;
  border-color: none;
  border-style: none;
  border-width: none;
  width: 200px;
  border-radius: 10px;
}
