.registerTitle {
  padding: 10px;
  color: #ff9e1b;
  margin: 0;
}

.inputSection {
  padding: 20px;
  /* border-color: #FF9E1B ; */
  /* border-style: solid;
  border-width: 1px; */
}

.BTNRegister {
  background-color: #ff9e1b;
  color: white;
  margin: 10px;
  border-color: none;
  border-style: none;
  border-width: none;
  width: 200px;
  border-radius: 10px;
}
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.label{
text-align: left;


}
thead.ant-table-thead > tr > th {
  background-color: #ff9e1b !important;
  color: white;
  text-align: center;
}