.registerTitle {
  padding: 10px;
  color: #ff9e1b;
  margin: 0;
}

.inputSection {
  padding: 20px;
  /* border-color: #FF9E1B ; */
  /* border-style: solid;
  border-width: 1px; */
}

.BTNRegister {
  background-color: #ff9e1b;
  color: white;
  margin: 10px;
  border-color: none;
  border-style: none;
  border-width: none;
  width: 200px;
  border-radius: 10px;
}
